/* src/app/app.component.css */
.app-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 /*background-image: url('/assets/images/background.jpg');*/
    background-image: url(../assets/images/background.jpg)
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
  }
  .copyright-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    
  }
  
  .copyright-footer p {
    margin: 0;
  }
