<!-- src/app/home/home.component.html -->
<div class="home-container">
    <h1>Welcome to the 7Q Word Game!</h1>
    <p>Challenge your vocabulary and quick-thinking skills in this fun, interactive game.</p>
    <p>Instructions:</p>
    <ul>
      <li> Select the level as per you convinience </li>
      <li>Select the correct answer based on the question prompt.</li>
      <li>For each question you will get 30 seconds.</li>
      <li>Earn points for each correct answer.</li>
      <li>You can only use 2 hints as well as shuffle options when needed.</li>
    </ul>
    <button (click)="startGame()">Start Game</button>
    
  </div>
  